<template>
  <h1>Page de connexion</h1>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top bg-white">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="index.html">BiComp</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">A propos de nous</a></li>
          <li><a class="nav-link scrollto" href="#services">Nos services</a></li>
          <!-- <li class="dropdown">
            <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown">
                <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <!-- <li><a class="getstarted scrollto" href="#about">Commencer</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="@/assets/Kapital.png" style="width: 200px;" alt="logo" />
                    <h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
                  </div>
                  <form>
                    <div v-if="!forgotPassword">
                      <p>Veuillez vous connecter à votre compte</p> <br>
                      <div class="form-outline mb-4">
                        <div class="row">
                          <div class="col">
                            <label class="form-label" for="form2Example11">Nom d'utilisateur</label>
                          </div>
                          <div class="col">
                        <input type="email" id="form2Example11" class="form-control" placeholder="Phone number or email address">
                      </div>
                    </div>
                  </div> <br>

                  <div class="form-outline mb-4">
                    <div class="row">
                      <div class="col">
                        <label class="form-label" for="form2Example22">Mot de passe</label>
                      </div>
                      <div class="col">
                        <input type="password" id="form2Example22" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="button" class="btn-block fa-lg  mb-3 bg-ci btn-rounded" @click="redirectToTest">Se connecter</button>
                    <br>
                    <a class="text-muted" href="#" @click="forgotPassword = true">Mot de passe oublié?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Pas encore de compte?</p>
                    <button type="button" class="btn-block fa-lg mb-3 bg-ci btn-rounded" @click="redirectToInscription">S'inscrire</button>
                  </div>
                </div>
                <div v-else>
                  <p>Entrez votre adresse e-mail pour réinitialiser votre mot de passe.</p> <br>
                  <div class="form-outline mb-4">
                    <div class="row">
                      <div class="col">
                        <label class="form-label" for="form2Example33">Adresse e-mail</label>
                      </div>
                      <div class="col">
                        <input type="email" id="form2Example33" class="form-control" placeholder="Your email address">
                      </div>
                    </div>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn custom-color btn-block fa-lg gradient-custom-2 mb-3" type="button">Réinitialiser le mot de passe</button>
                    <br>
                    <a class="text-muted" href="#" @click="forgotPassword = false">Retour à la connexion</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center  gradient-custom-2">
            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
              <h4 class="mb-4">We are more than just a company</h4>
              <p class="small mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
</template>
<script>
export default {
  name: 'Connexion',
  methods: {
    redirectToInscription() {
      // Redirection vers la page d'inscription
      window.location.href = "/inscription";
    },
    redirectToTest(){
      window.location.href = "/test";
    }
    
  },
  data() {
    return {
      forgotPassword: false
    };
  }
};
</script>
<style>
.bg-ci {
  background-color: #1D4851;
  color: #ffffff;
  height: 70px;
  width: 100px;
}


.gradient-custom-2 {
/* fallback for old browsers */
background-color: #cc5500;
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}

@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: 0.3rem;
border-bottom-right-radius: 0.3rem;
}
}
</style>
