<template>
<div>
     <!-- ======= Header ======= -->
     <header id="header" class="fixed top bg-white">
      <div class="fixed top ">
        <div class="container d-flex align-items-center justify-content-between">
          <div class="logo-container">
            <h1 class="logo"><a href="index.html">BiComp</a></h1><br>
           <div class="text">
                    <img
                      src="@/assets/Kapital.png"
                      class="logo-img"
                      alt="logo"
                    >
           </div>           
          </div>
           <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto  hover-color" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto hover-color" href="#about">A propos de nous</a></li>
          <li><a class="nav-link scrollto hover-color" href="#services">Nos services</a></li>

          
          <li><a class="nav-link scrollto hover-color" href="#contact">Contact</a></li>
          
        </ul>
        <br>
        <!-- Button trigger modal -->


<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="  modal-title" id="staticBackdropLabel">Page de connexion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        
  <div class="h-100 gradient-form bg-w" >
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-12">
                <div class="card-body p-md-3 mx-md-1">
                  <div class="text">
                    <img src="@/assets/Kapital.png" style="width: 200px;" alt="logo" />
                    <h4 class=" fst-italic mt-2 mb-4 pb-2">Heureux de vous revoir</h4>
                  </div>
                  <form>
                    <div v-if="!forgotPassword">
                      <p class="fst-italic" >Veuillez vous connecter à votre compte</p> <br>
                      <div class="form-outline mb-7">
                        <div class="row">
                          <div class="col">
                            <label class="form-label" for="form2Example11">Nom d'utilisateur</label>
                          </div>
                          <div class="col">
                        <input type="email" id="form2Example11" class="form-control" placeholder="Email ou Telephone">
                      </div>
                    </div>
                  </div> <br>

                  <div class="form-outline mb-4">
                    <div class="row">
                      <div class="col">
                        <label class="form-label" for="form2Example22">Mot de passe</label>
                      </div>
                      <div class="col">
                        <input type="password" id="form2Example22" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type="button" class="btn-block fa-lg  mb-3 bg-c rounded-4" @click="redirectToTest">Se connecter</button>
                    <br>
                    <a class="text-muted" href="#" @click="forgotPassword = true">Mot de passe oublié?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Pas encore de compte?</p>
                    <button type="button" class="btn-block fa-lg mb-3 bg-c rounded-4" @click="redirectToInscription">S'inscrire</button>
                  </div>
                </div>
                <div v-else>
                  <p>Entrez votre adresse e-mail pour réinitialiser votre mot de passe.</p> <br>
                  <div class="form-outline mb-4">
                    <div class="row">
                      <div class="col">
                        <label class="form-label" for="form2Example33">Email</label>
                      </div>
                      <div class="col">
                        <input type="email" id="form2Example33" class="form-control" placeholder="Adresse e-mail">
                      </div>
                    </div>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn custom-color btn-block fa-lg gradient-custom-2 mb-3" type="button">Réinitialiser le mot de passe</button>
                    <br>
                    <a class="text-muted" href="#" @click="forgotPassword = false">Retour à la connexion</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Valider</button>
      </div> 
    </div>
  </div>
</div>   -->
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

        </div>
      </div>
     
  </header><!-- End Header -->
</div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center ">
    <div class="container">
      <div class="row justify-content-end">

        <!-- <div class="container-fluid ">
          <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="@/assets/images/img1.jpeg" class="d-block w-100 img-fluid" alt="..." >
              </div>
              <div class="carousel-item">
                <img src="@/assets/images/img2.jpeg" class="d-block w-100 img-fluid" alt="..." >
              </div>
              <div class="carousel-item">
                <img src="@/assets/images/img13.jpeg" class="d-block w-100 img-fluid" alt="..." >
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div> -->
        
         <div class="col-6 photoAccueil"> 
              <img src="@/assets/hero-img.svg" class="mt-3 hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">

      </div>

      <div class="container d-flex col-6 flex-column align-items-center justify-content-center" data-aos="fade-up">
        <h1>Bienvenue sur <span> BiComp </span></h1>
        <h2>pour effectuer votre bilan de compétence</h2><br>
        <ul><button type="button" class="bg-c fst-italic rounded-4 mx-auto" @click="redirectToConnexion"  >
          Commencer
        </button></ul>
      </div>
    </div>
  </div>
      <!-- <div class="col-lg-6 photoAccueil"> 
              <img src="<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>" class="mt-3 hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">

      </div>
   -->
    </section><!-- End Hero -->
  
    <main id="main">
  
      <!-- ======= About Section ======= -->
      <section id="about" class="about bg-w">
        
        <div class="container ">
          <div class="footer">
          <div class="row no-gutters">
           
            <div class=" modal-content col-xl-12 d-flex align-items-stretch" data-aos="fade-right">
              <div class="content ">
                
              <h3 class="content">Dans quels cas initier une démarche de Bilan de compétences ?</h3>
              <div class="contenu">
<div class="centered text-start ">
                <p><i class="bi bi-check"></i>Besoin de faire le point sur sa carrière, d’anticiper son évolution professionnelle</p>
                <p><i class="bi bi-check"></i>Valider ou définir son projet de formation ou de reconversion professionnelle</p>
                <p><i class="bi bi-check"></i>Nécessité de prendre du recul dans un contexte de travail difficile ou de restructuration</p>
                <p><i class="bi bi-check"></i>Envie de mieux de se connaitre sur le plan personnel et professionnel</p>
                <p><i class="bi bi-check"></i>Besoin de se situer sur le marché du travail et d’évaluer son « potentiel marché »</p>              
              </div>
            </div>
            </div>
          </div>
            


            <div class=" modal-content col-xl-5 d-flex align-items-stretch" data-aos="fade-left">
              <div class="content ">
                <div class="row ">
                  <div class=" col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    
                    <h4>LE BILAN DES COMPETENCES : MODE D'EMPLOI</h4>
                    <p>Le Bilan de compétences est un accompagnement considéré comme une action de formation dont le contenu est défini par différentes dispositions légales*. Il comprend trois 
                      phases principales d’une durée de 24 h et s’étend sur une durée d’environ 3 mois qui peut être réduite selon le contexte.</p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                   
                    <h4>QUI PEUT EN BÉNÉFICIER ?</h4>
                    <p>Le bilan de compétences est ouvert aux salariés en CDI ou CDD, aux demandeurs d’emploi, sous différentes conditions, et aux agents de la fonction publique. Aucun pré-requis particulier n’est cependant exigé. Il peut aussi être accessible à toute autre personne (indépendant)
                       souhaitant faire un point sur sa carrière ou son orientation professionnelle, selon différentes modalités.</p>
                  </div>
                  
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
          </div>
        </div>
    
    </section><!-- End About Section -->

    
    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>LES ÉTAPES DU BILAN DE COMPÉTENCES</h2>
          
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
            <img src="@/assets/values-1.png" class="mt-3 hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
          </div >
          <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
            <h3>1 – PHASE PRÉLIMINAIRE</h3>
            <p class="fst-italic">
              Son objectif est d’identifier vos besoins, de vous présenter l’ensemble des modalités et de valider la démarche
            </p>
            <div class="text-justify">
              <ul>
                <li >Lors d’un entretien préalable GRATUIT et sans engagement, nous faisons connaissance, la démarche vous est présentée via notamment un Programme détaillé (conditions et moyens), le planning et les modalités d’accès. Vos attentes sont recueillies.
                   La démarche est validée par une convention qui diffère selon le mode de financement (Cf. “Qui peut en bénéficier")</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="@/assets/values-2.png" class="mt-3 hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>2 – PHASE D’INVESTIGATION</h3>
            
            <p class="fst-italic">
              Son objectif est de mieux se connaitre, identifier ses compétences, ses motivations et intérêts
               professionnels, ses atouts et contraintes et s’informer sur les métiers, formations … accessibles, valider la faisabilité des projets par rapport au marché de l’emploi et de la formation
            </p>
            <p>
              Grâce aux entretiens, aux tests, aux explorations sur des logiciels spécifiques et aux 
              questionnaires et travaux personnels, vous avez  :
            </p>
            <div class="text-start">
            <ul>
              <li> <i class="bi bi-check"></i>Un bilan personnel et professionnel complet qui a permis d’identifier : vos compétences et aptitudes, vos motivations et vos centres d’intérêt, votre fonctionnement professionnel. Un test psychologique détaillé est 
                généralement inclus, avec sa restitution orale et une synthèse réalisées par un autre professionnel afin d’avoir un regard croisé.</li>
              <li><i class="bi bi-check"></i>Vos pistes concrètes d’évolution : Validation des 
                  acquis (VAE), formations et/ou accès aux métiers retenus (suite aux enquêtes), et les débouchés “emploi”.</li>
             <p><li><i class="bi bi-check"></i> 
              Identifier vos atouts et réseaux à mobiliser pour votre évolution</li></p>
           
            </ul>
          </div>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="@/assets/values-3.png" class="mt-3 hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
          </div>
          
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>3 – PHASE DE CONCLUSION</h3>
            <p class="fst-italic">Son objectif est de s’engager dans son évolution professionnelle et d’élaborer son plan d’actions</p>
            <p>Après une restitution orale de la synthèse du Bilan de compétences, vous disposez de la Synthèse détaillée, document qui reprend les étapes du Bilan. Outre vos compétences, il détaille 
              les conditions d’engagement dans votre évolution professionnelle : le plan d’actions, vos atouts et axes de progrès .</p><br>
              <p>Ce rapport peut être partagé avec votre employeur uniquement avec votre accord et selon des modalités choisies.</p><br>
              <p>Nota : Selon le contexte de déroulement du Bilan, souvent un entretien de suivi
                 à 6 mois peut être inclus dans la démarche pour réaliser un point d’étapes (en sus des rdvs prévus en Bilan).</p>

          </div>
        </div>

        
      </div>
    </section><!-- End Features Section -->

    
    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services bg-w">
      <div class="container" data-aos="fade-up">

        <div class="section-title mb-3">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

        </div>

      </div>
    </section>End Services Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <Footer></Footer>
  </footer>
  <!-- End Footer -->
</template>

<script>

import Footer from '@/components/Footer.vue';

    export default {
      
      methods: {
    redirectToInscription() {
      // Redirection vers la page d'inscription
      window.location.href = "/inscription";
    },
    redirectToTest(){
      window.location.href = "/test";
    },
    redirectToConnexion() {
      // Redirection vers la page d'inscription
      window.location.href = "/connec";
    }
    
  },
  
  data() {
    return {
      forgotPassword: false
    }
  },
        name:'Home',
        components: {
    
    Footer
  },
  
    }
    

</script>
<style>
 

.logo-container {
    display: flex;
    align-items: center;
  }
  .bg-c{
    background-color: #cc5500;
    color: #ffffff;
    height: 50px;
    width: 110px;
  }
 .footer{
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
 }
  .logo {
    margin-left: 200px;
    margin-top: 100px; /* Ajustez cette valeur selon vos besoins pour l'espace entre "BiComp" et l'image */
  }

  .img-fluid {
    width: 100px;
    height: 150px;
  }
  /* 
  .btn-connect{
  background-color: #cc5500;
  color: #ffffff;}
.btn-creer {
background-color: #cc5500;
color: #ffffff;
} */
  .centered {
    text-align: center;
  }

  .contenu {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  span{
    color :maroon;
  }
  .photoAccueil{
    height:170px;
    width:400px;
  }
</style>