<template>
    <h1>Page d'inscription</h1>

     <!-- ======= Header ======= -->
  <header id="header" class="fixed-top bg-white">
<div class="fixed top ">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo-container"><br>
          <h1 class="logo"><a href="index.html">BiComp</a></h1><br>
           <div class="text">
                    <img
                      src="@/assets/Kapital.png"
                      class="logo-img"
                      alt="logo"
                    >
        </div>           
           </div>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto  hover-color" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto hover-color" href="#about">A propos de nous</a></li>
          <li><a class="nav-link scrollto hover-color" href="#services">Nos services</a></li>

          <!-- <li class="dropdown iso"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto hover-color" href="#contact">Contact</a></li>
          <!-- <li><a class="nav-link scrollto hover-color" href="#about">Commencer</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
</div>
  </header><!-- End Header -->
 
  <section class="h-100 bg-w">
  <div class="container-fluid py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="@/assets/img4.png"
                alt="Sample photo" class="img-fluid w-100 h-40"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Formulaire d'inscription</h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m">Nom</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n">Prenoms</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="int" id="form3Example1m1" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m1">Age</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="int" id="form3Example1n1" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n1">Telephone</label>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example8" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example8">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example9" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example9">Mot de passe</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example90" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example90">Mot de passe répété</label>
                </div> <br>
                

                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                  <h6 class="mb-0 me-4">Sexe: </h6>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                     value="option1" />
                    <label class="form-check-label" for="femaleGender">Masculin</label>
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                     value="option2" />
                    <label class="form-check-label" for="maleGender">Féminin</label>
                  </div>

                  <div class="form-check form-check-inline mb-0">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                     value="option3" />
                    <label class="form-check-label" for="otherGender">Autre</label>
                  </div>

                </div>

                
                
                <div class="text-center pt-1 mb-5 pb-1">
                  <button class="btn-block fa-lg  mb-3 btn-valid rounded-4" type="button" @click="redirectToConnexion" >Valider</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</template>

<script>
// import axios from 'axios'
    export default {
      methods:{
    redirectToConnexion(){
      window.location.href = "/connexion";

  //     axios.get('/api/endpoint/')
  // .then(response => {
  //   // Traitez la réponse de l'API
  //   console.log(response.data);
  // })
  // .catch(error => {
  //   // Traitez les erreurs de l'appel
  //   console.error(error);
  // });


    }
  },
        name:'Inscription'
    }

</script>

<style>


.bg-w{
    background-color: #1D4851;
}
  .logo-container {
    display: flex;
    align-items: center;
  }
 
  .logo {
    margin-left: 200px; /* Ajustez cette valeur selon vos besoins pour l'espace entre "BiComp" et l'image */
  }

  .logo-img {
    width: 100px;
  }
  

  .card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}
.btn-valid{
background-color:#cc5500;
color:hsl(0, 0%, 100%); 
width: 110px;
height: 40px;  
}
.dropdown.iso{
    color:#cc5500;
}
  /* Ajoutez cette partie pour gérer la couleur de l'accueil */
  header.fixed-top {
    background-color: #cc5500; /* Remplacez "your-color" par la couleur souhaitée pour l'accueil */
  }

  .nav-link.hover-color:hover {
    color: #cc5500; /* Remplacez "your-color" par la couleur souhaitée pour les liens hover */
  }

  /* Ajoutez d'autres styles CSS ici */

</style>
  