<template>
     
     <h1>Page de Test</h1>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top bg-white">
<div class="fixed top ">
<div class="container d-flex align-items-center justify-content-between">
   <div class="logo-container"><br>
     <h1 class="logo"><a href="index.html">BiComp</a></h1><br>
      <div class="text">
               <img
                 src="@/assets/Kapital.png"
                 class="logo-img"
                 alt="logo"
               >
   </div>           
      </div>
 <!-- Uncomment below if you prefer to use an image logo -->
 <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

 <nav id="navbar" class="navbar">
   <ul>
     <li><a class="nav-link scrollto  hover-color" href="#hero">Accueil</a></li>
     <li><a class="nav-link scrollto hover-color" href="#about">A propos de nous</a></li>
     <li><a class="nav-link scrollto hover-color" href="#services">Nos services</a></li>

     <li><a class="nav-link scrollto hover-color" href="#contact">Contact</a></li>
   </ul>
   <i class="bi bi-list mobile-nav-toggle"></i>
 </nav><!-- .navbar -->

</div>
</div>
</header><!-- End Header -->

<!-- <div class="container">
    <h1>Test de compétence</h1>

    <form id="myForm">
      <div class="form-group">
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" placeholder="Votre nom complet" required>
      </div>

      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" placeholder="exemple@domaine.com" required>
      </div>

      <div class="form-group">
        <label for="qualification">Qualification :</label>
        <select id="qualification" name="qualification" required>
          <option value="">Sélectionnez votre qualification</option>
          <option value="bac">Baccalauréat</option>
          <option value="licence">Licence</option>
          <option value="master">Master</option>
          <option value="doctorat">Doctorat</option>
        </select>
      </div>

      <div class="form-group">
        <label for="skills">Compétences :</label>
        <div class="checkbox-group">
          <input type="checkbox" id="html" name="skills" value="html">
          <label for="html">HTML</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="css" name="skills" value="css">
          <label for="css">CSS</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="javascript" name="skills" value="javascript">
          <label for="javascript">JavaScript</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="python" name="skills" value="python">
          <label for="python">Python</label>
        </div>
      </div>

      <div class="form-group">
        <label for="message">Message :</label>
        <textarea id="message" name="message" placeholder="Votre message"></textarea>
      </div>

      <div class="form-group">
        <input type="submit" value="Envoyer">
      </div>
    </form>
  </div> -->
  <div class="container">
    <div>
      <h1>Test de bilan de compétences</h1>
      <div v-if="!domaineChoisi">
        <p>Veuillez choisir un domaine :</p>
        <ul>
          <li v-for="(domaine, index) in domaines" :key="index" @click="choisirDomaine(domaine)">
            {{ domaine }}
          </li>
        </ul>
      </div>
      <div v-else-if="!testTermine">
        <h2>Vous avez choisi le domaine : {{ domaineChoisi }}</h2>
        <p>Veuillez répondre aux questions suivantes :</p>
        <div>
          <h3>{{ questionActuelle.enonce }}</h3>
          <ul>
            <li v-for="(reponse, index) in questionActuelle.reponses" :key="index">
              <input type="radio" :value="reponse" v-model="reponseSelectionnee">{{ reponse }}
            </li>
          </ul>
          <button @click="suivant">Suivant</button>
        </div>
      </div>
      <div v-else>
        <h2>Test terminé !</h2>
        <p>Votre score est de : {{ calculerScore() }}%</p>
        <button @click="recommencer">Recommencer</button>
      </div>
    </div>
  </div>
</template>

<script>





  
  export default {
    methods: {
    choisirDomaine(domaine) {
      this.domaineChoisi = domaine;
      // Ajoutez ici le code pour charger les questions spécifiques au domaine de l'informatique
      this.questions = [
        {
          enonce: "Question 1 :",
          reponses: ["Réponse 1", "Réponse 2", "Réponse 3"],
          reponseCorrecte: 1
        },
        {
          enonce: "Question 2 :",
          reponses: ["Réponse 1", "Réponse 2", "Réponse 3"],
          reponseCorrecte: 2
        },
        {
          enonce: "Question 3 :",
          reponses: ["Réponse 1", "Réponse 2", "Réponse 3"],
          reponseCorrecte: 0
        }
      ];
      this.questionActuelle = this.questions[this.indexQuestion];
    },
    suivant() {
      if (this.reponseSelectionnee !== null) {
        if (this.reponseSelectionnee === this.questionActuelle.reponseCorrecte) {
          this.score++;
        }
        this.indexQuestion++;
        if (this.indexQuestion < this.questions.length) {
          this.questionActuelle = this.questions[this.indexQuestion];
          this.reponseSelectionnee = null;
        } else {
          this.testTermine = true;
        }
      }
    },
    calculerScore() {
      return (this.score / this.questions.length) * 100;
    },
    recommencer() {
      this.domaineChoisi = null;
      this.questions = [];
      this.questionActuelle = null;
      this.reponseSelectionnee = null;
      this.indexQuestion = 0;
      this.testTermine = false;
      this.score = 0;
    }
  },

data() {
    return {
      domaines: ["Informatique", "Marketing", "Ressources humaines", "Finance"],
      domaineChoisi: null,
      questions: [],
      questionActuelle: null,
      reponseSelectionnee: null,
      indexQuestion: 0,
      testTermine: false,
      score: 0
    }
  },
 name:'Test',
}
</script>
<style>

.logo {
    margin-left: 200px;
    margin-top: 100px; /* Ajustez cette valeur selon vos besoins pour l'espace entre "BiComp" et l'image */
  }

  .img-fluid {
    width: 100px;
    height: 150px;
    
  }
.logo-container {
    display: flex;
    align-items: center;
  }

  /* .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .checkbox-group {
    margin-bottom: 10px;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
  } */

</style>