<template >
 
    <footer class="footer bg-v">

      <!-- Footer content goes here -->
      <div class="footer-top ">
      <div class="container">
        <div class="row mt-3 p-4">

          <div class="col-lg-4 col-md-4 footer-contact">
            <h3>Kapital Humain et Conseils</h3>
            <p>
              Gbégamey-BENIN <br>
              Immeuble BOURJON à trois étages situé dans la von en face de la Soneb<br>
               <br><br>
              <strong>Telephone:</strong> +(229)99915050, +(229)65660438<br>
              <strong>Email:</strong> gnankpan@Kapitalhc.com<br>
            </p>
          </div>

          <div class="col-lg-4  col-md-6 footer-links ">
            <h4 class="">Liens Importants</h4><br>
            <ul>
              <div class="links-container">
              <!-- <li> <a href="#">A propos de nous</a></li>
              <li> <a href="#">Nos Services</a></li> -->
             <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Termes de nos services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
              </div>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Kapital Humain & Conseils</h4>
            <p>
              Rendre l'avenir plus radieux
            </p>
          </div>

          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div> -->

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <!-- <div class="me-md-auto text-center text-md-start"> -->
        <div class="copyright">
          &copy; Copyright <strong>Kapital Humain et Conseils</strong>. Tous Droits réservés
        </div>
        <!-- <div class="credits">
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bikin-free-simple-landing-page-template/
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div> -->
      <!-- </div> -->
      <!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
    </div>
  
    </footer>
  
  </template>
  
  <script>
  import axios from 'axios';
  export default {
    name:'Footer'
    // Component logic goes here
  }
  </script>
  
  <style scoped>
  /* Component-specific styles go here */
  .links-container {
  text-align: center;
}
.bg-v{
  background-color: #1d4851;
  color: #fff;
}
.links-container a {
  display: block;
  margin: 00px auto; /* Espacement vertical entre les liens (ajustez selon vos besoins) */
}
.li{
  text-decoration: none;
  
}

  </style>
  