<template>
    <header id="header" class="fixed top">
      <div class="fixed top bg-white">
        <div class="container d-flex align-items-center justify-content-between">
          <div class="logo-container">
            <h1 class="logo"><a href="index.html" >BiComp</a></h1><br>
           <div class="text">
                    <img
                      src="@/assets/Kapital.png"
                      class="logo-img"
                      alt="logo"
                    >
           </div>           
          </div>
           <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto  hover-color" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto hover-color" href="#about">A propos de nous</a></li>
          <li><a class="nav-link scrollto hover-color" href="#services">Nos services</a></li>
          <li><a class="nav-link scrollto hover-color" href="#contact">Contact</a></li>
          <!-- <li><a class="nav-link scrollto hover-color" href="#about">Commencer</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

        </div>
      </div>
    </header>
  </template>
  
  <script>
  export default {
    name:'Header'
    // Component logic goes here
  }
  </script>
  
  <style scoped>
  /* Component-specific styles go here */
  .logo-container {
    display: flex;
    align-items: center;
  }
 
  .logo {
    margin-left: 200px; /* Ajustez cette valeur selon vos besoins pour l'espace entre "BiComp" et l'image */
  }

  .logo-img {
    width: 100px;
  }
  li{
    color: maroon;
  }
  
  </style>
  