<template>
           <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>

      
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-6 photocon mt-5"> 
              <img src="@/assets/hero-img.png" class="hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">

      </div>
                            <div class="col-lg-6">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Page de connexion</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-floating mb-4">
                                                <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                                <label for="inputEmail">Adresse Email</label>
                                            </div>
                                            <div class="form-floating mb-4">
                                                <input class="form-control" id="inputPassword" type="password" placeholder="Password" />
                                                <label for="inputPassword">Mot de passe</label>
                                            </div>
                                            
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small bg-m " @click="redirectToMPO">Mot de passe oublié?</a>
                                                <button type="button" class="btn-block mb-4 bg-c rounded-4 " @click="redirectToTest" >Se connecter</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Pas encore de compte?</p>
                    <button type="button" class="btn-block fa-lg mb-3 bg-c rounded-4" @click="redirectToRegister">S'inscrire</button>
                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
        </div>
</template>

<script>
     export default{

        methods: {
    redirectToRegister() {
      // Redirection vers la page d'inscription
      window.location.href = "/regist";
    },
    // redirectToTest(){
    //   window.location.href = "/test";
    // },
    redirectToMPO(){
      window.location.href = "/mpo";
    },
},
        name:'Regist',
    }

</script>

<style>
.bg-m{
    
    color:maroon;
    
}
a:hover{
    color:#1D4853
}
.photocon{
    height:80px;
    width:auto;
}
</style>