<template>
    <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">

                
                <main>
                    
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-5 photocon mt-5"> 
              <img src="@/assets/hero-img.png" class="hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">

      </div>
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Créer un compte</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" />
                                                        <label for="inputFirstName">Nom</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" />
                                                        <label for="inputLastName">Prénoms</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                  <div class="col-md-6 ">
                    <div class="form-floating mb-3 mb-md-0">
                      <input type="int" id="form3Example1m1" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1m1">Age</label>
                    </div>
                  </div>
                  <div class="col-md-6 ">
                    <div class="form-floating">
                      <input type="int" id="form3Example1n1" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example1n1">Telephone</label>
                    </div>
                  </div>
                </div>
                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

<h6 class="mb-0 me-4">Sexe: </h6>

<div class="form-check form-check-inline mb-0 me-4">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
   value="option1" />
  <label class="form-check-label" for="femaleGender">Masculin</label>
</div>

<div class="form-check form-check-inline mb-0 me-4">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
   value="option2" />
  <label class="form-check-label" for="maleGender">Féminin</label>
</div>

<div class="form-check form-check-inline mb-0">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
   value="option3" />
  <label class="form-check-label" for="otherGender">Autre</label>
</div>

</div>

                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                                <label for="inputEmail">Email address</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPassword" type="password" placeholder="Create a password" />
                                                        <label for="inputPassword">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirm password" />
                                                        <label for="inputPasswordConfirm">Confirm Password</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid creation-compte rounded-4"><a class="btn  btn-block" @click="redirectToHome">S'inscrire</a></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Déja un compte?</p>
                    <button type="button" class="btn-block  mb-3 bg-c rounded-4" @click="redirectToConnexion">Se connecter</button>
                  </div>
                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
        </div>
</template>

<script>
     export default{

        redirectToConnexion(){
      window.location.href = "/connec";
    },
    redirectToHome(){
      window.location.href = "/home";
    },
        name:'Regist',
    }

</script>

<style>
    #layoutAuthentication{
        background-color: #1D4851;
    }   
    .creation-compte{
        background-color: #cc5500;
    }
</style>